{{search-head}}

<p>
  Found {{model.meta.pagination.items}}
  {{#if (eq type "")}}results{{else}}<em>{{type}}s</em>{{/if}}
  for <strong>{{query}}</strong>.
</p>

<p>
  {{!--
  {{search-filter type=type ui="buttons"}}
  --}}
  {{search-filter type=type ui="radio"}}
</p>

{{#if model}}
  {{search-pagination
    currentPage=page
    totalPages=totalPages
    search=search}}

  {{#each-list model as |result|}}
    {{#unless type}}<em>{{result.type}}</em>{{/unless}}
    {{link-to result.title result.type result.id}}
    {{!--
    {{#if result.thumb}}
      <img src={{result.thumb}} alt={{result.title}} height="16">
    {{/if}}
    --}}
  {{/each-list}}

  {{search-pagination
    currentPage=page
    totalPages=totalPages
    search=search}}
{{else}}
  <p>No search results found.</p>
{{/if}}

{{outlet}}
