<p>
  <label>
  Searching
  <select onchange={{action (mut type) value="target.value"}}>
    {{#each types as |t|}}
      <option value={{t.value}} selected={{eq type t.value}}>
        {{t.label}}
      </option>
    {{/each}}
  </select>
  for <em>{{query}}</em>
  </label>
</p>

{{#if model}}
  {{#each-list model as |result|}}
    {{#unless type}}<em>{{result.type}}</em>{{/unless}}
    {{link-to result.title result.type result.id}}
    {{!--
    {{#if result.thumb}}
      <img src={{result.thumb}} alt={{result.title}} height="16">
    {{/if}}
    --}}
  {{/each-list}}

  {{search-pagination
    currentPage=page
    totalPages=totalPages
    search=search}}
{{else}}
  <p>No search results found.</p>
{{/if}}

{{outlet}}
