<p>Here are some test pages:</p>

<p>
  {{link-to "Example release" "release" "6980600"}}<br>
  {{link-to "Example label" "label" "8377"}}<br>
  {{link-to "Example master" "master" "74177"}}<br>
  {{link-to "Example artist" "artist" "285231"}}<br>
</p>

{{outlet}}