{{search-head}}


<details>
  <summary>
    Here are some test pages:
  </summary>
  <p>
    {{link-to "Example release" "release" "6980600"}}<br>
    {{link-to "Example label" "label" "8377"}}<br>
    {{link-to "Example master" "master" "74177"}}<br>
    {{link-to "Example artist" "artist" "285231"}}<br>
    {{link-to "Michael Jackson artist" "artist" "15885"}}<br>
  </p>
</details>

{{outlet}}