<h2>Label</h2>
<h1>{{model.name}}</h1>
<p>{{model.profile}}</p>
<pre>
  contact: {{model.contact_info}}

  releases: {{model.releases_url}}

  uri: {{model.uri}}


  // sublabels: DS.hasMany('label'),
  // parent_label: DS.belongsTo('label')
  </pre>

  urls
  {{each-list list=model.urls}}

{{outlet}}