<h2>label</h2>
<h1>{{model.name}}</h1>

<h3>parent label</h3>
<ul>
  <li>{{link-to model.label.name "label" model.label}}</li>
</ul>

<h3>sublabels</h3>
{{#each-list list=model.sublabels as |label|}}
  {{link-to label.name "label" label}}
{{/each-list}}
<p><em>note: we're only showing two to save bandwidth</em></p>

<h3>profile</h3>
<p>{{model.profile}}</p>

<h3>contact</h3>
<p>{{model.contactInfo}}</p>

<h3>releases</h3>
<p>{{model.releasesUrl}}</p>

<h3>uri</h3>
<p>{{model.uri}}</p>

<h3>urls</h3>
{{each-list list=model.urls}}

{{outlet}}