<p><em>label</em></p>
<h1>{{model.name}}</h1>

<nav>
  {{link-to 'Releases' 'label.releases'}}
  {{link-to 'Profile' 'label.info'}}
</nav>

{{outlet}}

<p>
  <a href="https://www.discogs.com/label/{{model.id}}" rel="noopener" target="_blank">View on Discogs</a>
</p>
