<h2>label</h2>
<h1>{{model.name}}</h1>

<h3>parent label</h3>
{{model.parentLabel}}<br>
id:  {{model.parentLabel.id}}<br>
{{link-to "Go to parent label" "label" model.parentLabel.id}}

<h3>profile</h3>
<p>{{model.profile}}</p>

<h3>contact</h3>
<p>{{model.contactInfo}}</p>

<h3>releases</h3>
<p>{{model.releasesUrl}}</p>

<h3>uri</h3>
<p>{{model.uri}}</p>

{{!-- <h3>sublabels</h3>
{{each-list list=model.sublabels}} --}}

<h3>urls</h3>
{{each-list list=model.urls}}

{{outlet}}