<h2>label</h2>
<h1>{{model.name}}</h1>

{{!-- <p>parent label</p>
{{model.parent_label}} --}}

<h3>profile</h3>
<p>{{model.profile}}</p>

<h3>contact</h3>
<p>{{model.contact_info}}</p>

<h3>releases</h3>
<p>{{model.releases_url}}</p>

<h3>uri</h3>
<p>{{model.uri}}</p>

{{!-- <h3>sublabels</h3>
{{each-list list=model.sublabels}} --}}

<h3>urls</h3>
{{each-list list=model.urls}}

{{outlet}}