{{resource-head
    type="label"
    title=model.name}}

<nav>
  {{link-to 'Releases' 'label.releases'}}
  {{link-to 'Profile' 'label.info'}}
</nav>

{{outlet}}

{{link-to-discogs url=model.discogsHumanUrl}}
