{{!-- <h2>Releases</h2> --}}

{{#each-list (sort-by model "year") as |item|}}
  {{item.year}} -
  {{#link-to "release" item.id}}
    {{item.artist}} - {{item.title}}
  {{/link-to}}
  {{#if item.videos}}
    {{play-release release=item}}
  {{/if}}
{{/each-list}}

{{nav-pagination
    path='label.releases'
    currentPage=page
    totalPages=totalPages}}

{{outlet}}
