{{resource-head
    type="release"
    title=model.title}}

<nav>
  {{link-to 'Tracks' 'release.tracks'}}
  {{link-to 'Profile' 'release.info'}}
  {{link-to 'Labels' 'release.labels'}}
</nav>

{{outlet}}