{{resource-head
    type="release"
    title=model.title}}

<nav>
  {{link-to 'Info' 'release.info'}}
  {{#link-to 'release.tracks'}}
    Tracks ({{model.tracklist.length}})
  {{/link-to}}
  {{#if model.videos}}
    {{#link-to 'release.videos'}}
      Videos ({{model.videos.length}})
    {{/link-to}}
    {{play-release release=model}}
  {{/if}}
</nav>

{{outlet}}