<p><em>release</em></p>
<h1>{{model.title}}</h1>

<pre>year: {{model.year}}
country: {{model.country}}
released: {{model.released}}
numForSale: {{model.numForSale}}
lowestPrice: {{model.lowestPrice}}
</pre>

<h3>Main artist</h3>
<p>{{model.artistsSort}}</p>

<h3>Genres</h3>
{{each-list list=model.genres}}

<h3>Styles</h3>
{{each-list list=model.styles}}

<h3>Tracklist</h3>
{{#each-list list=model.tracklist as |track|}}
  {{track.position}} -
  {{track.title}}
  {{track.duration}}
  {{track.type}}
  {{#each-list list=track.extraartists as |artist|}}
    {{link-to artist.name "artist" artist.id}} ({{artist.role}})
  {{/each-list}}
{{/each-list}}

<h3>Videos</h3>
{{#each-list list=model.videos as |video|}}
  {{track-video model=video}}
{{/each-list}}

{{#if model.notes}}
<h3>Notes</h3>
<p>{{model.notes}}</p>
{{/if}}

<h3>Artists</h3>
{{#each-list list=model.artists as |artist|}}
  {{link-to artist.name "artist" artist.id}}
{{/each-list}}

{{#if model.companies}}
<h3>Companies</h3>
{{#each-list list=model.companies as |label|}}
  {{link-to label.name "label" label.id}}
{{/each-list}}
{{/if}}

{{!-- <p>Images:</p>
{{#each-list list=model.images as |image|}}
  {{image.uri}}
  {{image.height}}
  {{image.width}}
  {{image.resourceUrl}}
  {{image.type}}
  {{image.uri150}}
{{/each}} --}}

<p>
  <a href="{{model.uri}}" rel="noopener" target="_blank">View on Discogs</a>
</p>

{{outlet}}
