<ul>
  <li>
    Artists:
    {{#each model.artists as |artist|}}
      {{link-to artist.name "artist" artist.id}}
    {{/each}}
  </li>
  <li>Released: {{model.year}} — {{model.released}}</li>
  <li>Country: {{model.country}}</li>
  <li>Genres: {{each-comma model.genres}}</li>
  <li>Styles: {{each-comma model.styles}}</li>
</ul>

<h3>Labels</h3>
{{#each-list model.labels as |label|}}
  {{link-to label.name "label" label.id}}
{{/each-list}}

{{#if model.companies}}
  <h3>Companies, etc.</h3>
  {{#each-list model.companies as |label|}}
    {{label.entity_type_name}} - {{link-to label.name "label" label.id}}
  {{/each-list}}
{{/if}}

{{#if model.notes}}
  <h3>Notes</h3>
  <p>{{model.notes}}</p>
{{/if}}

{{!-- <p>Images:</p>
      {{#each-list model.images as |image|}}
      {{image.uri}}
      {{image.height}}
      {{image.width}}
      {{image.resourceUrl}}
      {{image.type}}
      {{image.uri150}}
      {{/each}} --}}

<p>
  {{link-to-discogs url=model.discogsHumanUrl}}
</p>

{{outlet}}
