<p><em>artist</em></p>
<h1>{{model.name}}</h1>
{{#if model.realname}}<p>real name: {{model.realname}}</p>{{/if}}
<p>releasesUrl: {{model.releasesUrl}}</p>

<h3>Profile</h3>
<p>{{model.profile}}</p>

{{#if model.namevariations}}
<h3>Name variations</h3>
{{each-list list=model.namevariations}}
{{/if}}

{{#if model.members}}
<h3>Members (artists)</h3>
{{#each-list list=model.members as |artist|}}
  {{link-to artist.name "artist" artist}}
{{/each-list}}
{{/if}}

<h3>Aliases (artists)</h3>
{{#each-list list=model.aliases as |artist|}}
  {{link-to artist.name "artist" artist}}
{{/each-list}}

<h3>Groups (artists):</h3>
{{#each-list list=model.groups as |artist|}}
  {{link-to artist.name "artist" artist}}
{{/each-list}}

{{#if model.urls}}
<h3>URLs</h3>
{{each-list list=model.urls}}
{{/if}}

<p>
  <a href="https://www.discogs.com/artist/{{model.id}}" rel="noopener" target="_blank">View on Discogs</a>
</p>

{{outlet}}