{{resource-head
    type="artist"
    title=model.name}}

<nav>
  {{link-to 'Releases' 'artist.releases'}}
  {{link-to 'Info' 'artist.info'}}
  {{link-to 'Groups & Aliases' 'artist.groups'}}
</nav>

{{outlet}}

{{link-to-discogs url=model.discogsHumanUrl}}
