{{resource-head
    type="artist"
    title=model.name}}

<nav>
  {{link-to 'Releases' 'artist.releases'}}
  {{link-to 'Profile' 'artist.info'}}
  {{link-to 'Groups & Aliases' 'artist.groups'}}
  {{link-to-discogs url=model.discogsHumanUrl}}
</nav>

{{outlet}}
