<h2>Artist</h2>
<h1>{{model.name}}</h1>

<p>real name: {{model.realname}}</p>
<p>releasesUrl: {{model.releasesUrl}}</p>
<p>url: {{model.resourceUrl}}</p>
<p>{{model.profile}}</p>

<p>name variations:</p>
{{each-list list=model.namevariations}}

<h3>Members (artists)</h3>
{{#each-list list=model.members as |artist|}}
  {{link-to artist.name "artist" artist}}
{{else}}
  nop
{{/each-list}}

<h3>Aliases (artists)</h3>
{{#each-list list=model.aliases as |artist|}}
  {{link-to artist.name "artist" artist}}
{{/each-list}}

<p>Groups (artists):</p>
{{#each-list list=model.groups as |artist|}}
  {{link-to artist.name "artist" artist}}
{{/each-list}}

<p>URLs:</p>
{{each-list list=model.urls}}

<h3>errors?</h3>
{{#each model.errors.name as |error|}}
  <div class="error">
    {{error.message}}
  </div>
{{/each}}

{{outlet}}