{{!-- <h3>profile</h3> --}}
<p>{{model.profile}}</p>

{{#if model.parentLabel}}
<h3>Parent label</h3>
<ul>
  <li>{{link-to model.parentLabel.name "label" model.parentLabel}}</li>
</ul>
{{/if}}

{{#if model.sublabels}}
<h3>Sublabels</h3>
{{#each-list list=model.sublabels as |label|}}
  {{link-to label.name "label" label}}
{{/each-list}}
{{/if}}

<h3>URLs</h3>
{{#each-list list=model.urls as |item|}}
  <a
    href={{item}}
    target="_blank"
    rel="noopener">{{item}}</a>
{{/each-list}}

<h3>Contact</h3>
<p>{{model.contactInfo}}</p>

{{outlet}}